<form action="index.php" method="get" class="form">
<h2>Already installed?</h2>
<p class="help-block">A GNU FM configuration file already exists. If
  you wish to reinstall GNU FM, remove 'config.php' and retry.</p>
<button type="submit" class="btn btn-large btn-warning">Retry</button>
</form>
