<form class="form">
<h2>GNU FM installation</h2>

<p class="help-block">This is the installer for the GNU FM
  web-interface, as this part is optional, it has a small installer of
  its own. <b>Please ensure you have installed the GNU FM server
  first</b>, as this will create the required database tables.</p>

<p><a class="btn btn-danger" href="install.php">Proceed with GNU FM installation</a></p>

</form>
