    <form class="form form-horizontal" method="get" action="index.php">
      <h2>Permissions error!</h2>

      <p class="help-block">Cannot write to 'config.php', please paste
      the following configuration into the file, and save it.</p>

      <pre>

      

