<form class="form">
<h2>Your GNU FM install is complete!</h2>
<p>Be sure to check that your config.php file is not writable by your
  webserver then...</p>

<p><a href="/" class="btn btn-success btn-large">Proceed to your new GNU FM site</a></p>
</form>
