    <form class="form form-horizontal" method="post">
      <h2>GNU FM installation</h2>

      <p class="help-block">GNU FM requires PHP 5.2 or greater, a database, and
      <a href="http://adodb.sourceforge.net/">ADODB</a>.</p>

      <fieldset>
	<legend>Which database to use?</legend>
        <div class="control-group">
          <label class="control-label" for="db-sqlite">SQLite</label>
          <div class="controls">
	    <input type="radio" class="sqlite" name="dbms" value="sqlite" checked />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="db-sqlite">MySQL</label>
          <div class="controls">
	    <input type="radio" class="network" name="dbms" value="mysql" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="db-sqlite">PostgreSQL</label>
          <div class="controls">
	    <input type="radio" class="network" name="dbms" value="pgsql" />
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Connection details</legend>
        <div class="control-group" id="sqlite">
	  <label class="control-label" for="filename">Filename</label>
          <div class="controls">
            <input type="text" id="filename" name="filename" />
            <span class="help-block">For SQLite this should be an absolute path (ie. <tt>/var/data/gnu-fm.db</tt>).</span>
          </div>
        </div>
        <div id="networkdbms">
          <div class="control-group">
            <label class="control-label" for="hostname">Hostname</label>
            <div class="controls">
              <input type="text" name="hostname" value="localhost" placeholder="localhost" />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="port">Port</label>
            <div class="controls">
              <input type="text" class="input-mini" name="port" />
              <span class="help-block">MySQL default: 3306, PostgreSQL
              default: 5432</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="dbname">Database name</label>
            <div class="controls">
              <input type="text" name="dbname" />
              <span class="help-block">This database needs to exist,
              the installer does not create the database.</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="username">Username</label>
            <div class="controls">
              <input type="text" name="username" />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
              <input type="password" name="password" />
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>Submission server</legend>
        <span class="help-block">This will be the domain name which
        users of this GNU FM server will send their submissions, and
        <b>should be accessible</b> to people outside of this network, if
        that is your intention.</span>

        <div class="control-group">
          <label class="control-label">Submissions URL</label>
          <div class="controls">
            <input type="text" name="submissions" value="<?php echo getAbsoluteURL(); ?>" />
          </div>
        </div>

      </fieldset>

      <div class="text-center">
      <button type="submit" name="install" class="btn btn-large btn-success">Install GNU FM</button>
      </div>

      <hr />

      <p class="text-center"><a class="btn btn-info"
      href="http://www.gnu.org/software/fm/install.html">GNU FM
      installation instructions</a></p>

    </form>



    <script type="text/javascript">

          $(document).ready(function() {
              
              function showSqlite() {
                  $("#sqlite").show();
                  $("#networkdbms").hide();
              }

              function showNetworkDBMS() {
                  $("#sqlite").hide();
                  $("#networkdbms").show();
              }

              $(".sqlite").click(function() {
                  showSqlite();
              });

              $(".network").click(function() {
                  showNetworkDBMS();
              });

              showSqlite();

          });

    </script>

