<form class="form" action="install.php">
  <h2 class="form-not-installed">GNU FM is not installed!</h2>
  <p>GNU FM is free software to help you run a music community site,
  for your personal, or public use.</p>
  <p><b>Learn more about GNU FM</b>: <a href="http://www.gnu.org/software/fm/">http://www.gnu.org/software/fm/</a>.</p>
  <button class="btn btn-large btn-success" type="submit">Install now</button>
</form>
